@font-face {
    font-family: "Montserrat-Light";
    src: local("Montserrat-Light"), url(./webfonts/Montserrat/Montserrat-Light.ttf);
}

@font-face {
    font-family: "Montserrat-Regular";
    src: local("Montserrat-Regular"), url(./webfonts/Montserrat/Montserrat-Regular.ttf);
}